<h2>Find some peers:</h2>
<form>
	<div class="form-group">
		<label for="continent">Continent:
			<select id="continent" ng-model="vm.data.continent">
				<option value="eu">Europe</option>
				<option value="na">North America</option>
			</select>
		</label>

		<button type="button" class="btn btn-primary" ng-click="vm.getPeers(vm.data.continent)">Search</button>
	</div>

<!-- 	<div class="form-group">
		<label for="country">
			<select id="country" ng-model="vm.data.country">
				<option></option>
			</select>
		</label>
	</div> -->

	<div>
		<div class="peer panel panel-default" 
			 ng-repeat="peer in vm.peers">{{peer[peer.name[0]].peerName}} 

			<pre id="{{peer[peer.name[0]].peerName}}">{{peer}}</pre>			

			<button type="button" class="btn btn-default" ng-click="vm.addToPeerList(peer); peer.selected = true" ng-class="{'btn-success': peer.selected}">add</button>
		</div>
	</div>

	<button type="button" class="btn btn-default" ng-click="vm.getList()">get list</button>

	<pre><div ng-repeat="peer in vm.peerList">{{peer}},</div></pre>
</form>
