<h2>Find some peers:</h2>
<form>
	<div class="form-group">
		<label for="continent">Continent:
			<select id="continent" ng-model="vm.data.continent">
				<option value="eu">Europe</option>
				<option value="na">North America</option>
			</select>
		</label>

		<button type="button" class="btn btn-primary" ng-click="vm.getPeers(vm.data.continent)">Search</button>
	</div>
</form>

<!-- 	<div class="peer panel panel-default" 
		 ng-show="vm.peers">

		<div ng-repeat="peer in vm.peers" 
			 class="panel-heading">{{peer[peer.id[0]].peerName}}
				
			<button type="button" 
					class="btn btn-default"
					ng-init="selected = false"
					ng-click="vm.addToPeerList(peer); selected = true" 
					ng-class="{'btn-success': selected}">add
			</button>

			<div class="panel-body">
				 <ul class="list-group">
				 	<li class="list-group-item" ng-repeat="(key, value) in peer[peer.id[0]]">{{key}}: {{value}}</li>
				 </ul>
			</div>
		
	</div> -->

	<div class="peer panel panel-default"
		 ng-show="vm.peers"> <h3>ipv4</h3>
		
		<div ng-repeat="peer in vm.peers.ipv4"
			 class="panel-heading">{{peer.peerName}}

			 <button type="button" 
			 		 class="btn btn-default"
			 		 ng-init="selected = false"
			 		 ng-click="vm.addToPeerList(peer); selected = true"
			 		 ng-class="{'btn-success': selected}">add
			 </button>

			 <div class="panel-body">
			 	<ul class="list-group">
			 		<li class="list-group-item"
			 			ng-repeat="(key, value) in peer">{{key}}: {{value}}</li>
			 	</ul>
			 </div>
		</div>	 	
	</div>

	<div class="peer panel panel-default"
		 ng-show="vm.peers"> <h3>ipv6</h3>
		
		<div ng-repeat="peer in vm.peers.ipv6"
			 class="panel-heading">{{peer.peerName}}

			 <button type="button" 
			 		 class="btn btn-default"
			 		 ng-init="selected = false"
			 		 ng-click="vm.addToPeerList(peer); selected = true"
			 		 ng-class="{'btn-success': selected}">add
			 </button>

			 <div class="panel-body">
			 	<ul class="list-group">
			 		<li class="list-group-item"
			 			ng-repeat="(key, value) in peer">{{key}}: {{value}}</li>
			 	</ul>
			 </div>
		</div>	 	
	</div>

	<div ng-show="vm.peerBlockDisplay">
		<pre>{{vm.peerBlockDisplay}}
			<!-- <div ng-repeat="peer in vm.peerList">{{peer}},</div> -->
		</pre>

		<button type="button" class="btn btn-default">coppy</button>
	</div>

